main {
    line-height: 1.45em;
    font-size: 16px;
}

path {
    outline: none;
}

canvas {
    display: none;
}

#legendTitle {
    font-size: 15px;
}

#graphDiv {
    width: 100%;
}

#mapParagraphContainer {
    display: flex;
}

#parametersText {
    font-weight: bold;
}

#descriptionDiv {
    width: 100%;
}

#CRText {
    display: none;
}

.clientHidden {
    opacity: 0;
}

.clientLabel {
    font-weight: bold;
}

.input {
    margin-top: 10px;
}

.selectedArea {
    border: 1px dashed black;
    opacity: 0.35;
}

.downloadBtn {
    margin-bottom: 10px;
    color: white;
    font-size: 13px;
}

.notesFont {
    font-size: 15px;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-info>:first-child:before {
    color: #31708f;
}

.panel {
    margin-top: 5px;
}

.paginationNav{
    display: inline;
}

.areaName{
    font-size: 18px;
    color: green;
}

@media (max-width: 768px) {
    #descriptionDiv {
        font-size: 10px;
    }

    #graphParameters {
        font-size: 10px;
    }

    #map {
        height: 335px;
    }

    main {
        font-size: 12px;
    }

    .btn {
        font-size: 9px !important;
    }
    
    .areaName {
        font-size: 12px;
    }

}
.dataTables_scrollHeadInner{
    width: 100% !important;
}